.firstFloor {
	position: relative;
	background-color: black;
	color: greenyellow;
	border: 10px solid white;
	height: 680px;
	width: 1480px;
	padding: 0px;
	text-align: center;
	padding-top: 20px;
}
.rectangle {
	position: absolute;
	border: 2px solid #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: greenyellow;
	background-color: black;
}
.rectangle37 {
	height: 260px;
	width: 132px;
	left: 102px;
	top: 133px;
}
.rectangle2 {
	height: 36px;
	width: 71px;
	top: 133px;
	left: 317px;
}
.rectangle3 {
	height: 76px;
	width: 44px;
	top: 234px;
	left: 237px;
}
.rectangle32 {
	height: 94px;
	width: 51px;
	top: 219px;
	left: 230px;
}
.rectangle4 {
	height: 80px;
	width: 44px;
	top: 313px;
	left: 237px;
}
.rectangle5 {
	height: 73px;
	width: 51px;
	top: 159px;
	left: 230px;
}
.rectangle38 {
	height: 36px;
	width: 46px;
	top: 130px;
	left: 699px;
}
.rectangle39 {
	height: 28px;
	width: 104px;
	top: 437.5px;
	left: 877px;
}
.rectangle6 {
	height: 36px;
	width: 79px;
	top: 133px;
	left: 428px;
}
.rectangle7 {
	height: 36px;
	width: 86px;
	top: 133px;
	left: 502px;
}
.rectangle8 {
	height: 57px;
	width: 46px;
	top: 164px;
	left: 699px;
}
.rectangle9 {
	height: 110px;
	width: 46px;
	top: 219px;
	left: 699px;
}
.rectangle10 {
	height: 41px;
	width: 61px;
	top: 196px;
	left: 428px;
}
.rectangle11 {
	height: 39px;
	width: 59px;
	top: 198px;
	left: 327px;
}
.rectangle12 {
	height: 89px;
	width: 162px;
	top: 235px;
	left: 327px;
}
.rectangle13 {
	height: 63.000003814697266px;
	width: 26.000001907348633px;
	transform: rotate(90deg);
	top: 507px;
	left: 342px;
}
.rectangle14 {
	height: 156px;
	width: 123px;
	top: 422px;
	left: 679px;
}
.rectangle15 {
	height: 156px;
	width: 93px;
	top: 422px;
	left: 497px;
}
.rectangle16 {
	height: 107px;
	width: 48px;
	top: 222px;
	left: 540px;
}
.rectangle17 {
	height: 50px;
	width: 48px;
	top: 171px;
	left: 540px;
}
.rectangle18 {
	height: 36px;
	width: 113px;
	top: 130px;
	left: 699px;
	text-align: left;
}
.rectangle19 {
	height: 43px;
	width: 84px;
	top: 192px;
	left: 784px;
}
.rectangle20 {
	height: 36px;
	width: 60px;
	top: 130px;
	left: 808px;
}
.rectangle21 {
	height: 35px;
	width: 83px;
	top: 131px;
	left: 897px;
}
.rectangle22 {
	height: 35px;
	width: 73px;
	top: 131px;
	left: 961px;
}
.rectangle23 {
	height: 43px;
	width: 93px;
	top: 192.01px;
	left: 897px;
}
.rectangle24 {
	height: 90px;
	width: 47px;
	top: 131px;
	left: 1030px;
}
.rectangle25 {
	height: 113px;
	width: 47px;
	top: 213px;
	left: 1030px;
}
.rectangle26 {
	height: 93px;
	width: 206px;
	top: 233px;
	left: 784px;
}
.rectangle27 {
	height: 26px;
	width: 100px;
	top: 329px;
	left: 784px;
}
.rectangle28 {
	height: 73px;
	width: 81px;
	top: 420px;
	left: 1078px;
}
.rectangle29 {
	height: 88px;
	width: 114px;
	top: 490px;
	left: 1078px;
}
.rectangle30 {
	height: 76px;
	width: 80px;
	top: 420px;
	left: 1214px;
}
.rectangle31 {
	height: 47px;
	width: 104px;
	top: 531px;
	left: 1190px;
}
.rectangle32 {
	height: 56px;
	width: 88px;
	top: 395px;
	left: 102px;
}
.rectangle33 {
	height: 74px;
	width: 156px;
	top: 238px;
	left: 1269px;
}
.rectangle34 {
	height: 28px;
	width: 84px;
	top: 373px;
	left: 1341px;
}
.rectangle35 {
	height: 91.00000762939453px;
	width: 27.000001907348633px;
	transform: rotate(90deg);
	top: 294px;
	left: 429.5px;
}
.rectangle36 {
	height: 36px;
	width: 77px;
	top: 133px;
	left: 237px;
}
.rectangle46 {
	height: 221px;
	width: 95px;
	transform: rotate(90deg);
	top: 420px;
	left: 165px;
}
.rectangle48 {
	order: none;
	height: 44px;
	width: 45px;
	top: 487px;
	left: 1163px;
	border: none;
}
.rectangle41 {
	height: 43px;
	width: 80px;
	top: 486px;
	left: 1214px;
}
.rectangle42 {
	height: 27px;
	width: 84px;
	top: 314.5px;
	left: 1341px;
}
.rectangle43 {
	height: 156.00001525878906px;
	width: 44.000003814697266px;
	transform: rotate(0deg);
	top: 422px;
	left: 451px;
}
.rectangle44 {
	height: 86.60678100585938px;
	width: 13.000001907348633px;
	transform: rotate(-85deg);
	top: 365.9px;
	left: 249px;
}
.rectangle45 {
	height: 88.00000762939453px;
	width: 16.000003814697266px;
	transform: rotate(90deg);
	top: 359px;
	left: 229px;
}
.fline {
	position: absolute;
	border-top: 2px solid #ffffff;
}
.fline9 {
	width: 30px;
	transform: rotate(-90deg);
	top: 429px;
	left: 197px;
}
.fline42 {
	width: 44px;
	transform: rotate(90deg);
	top: 474px;
	left: 81px;
}
.fline43 {
	width: 39px;
	transform: rotate(-90deg);
	top: 403px;
	left: 540px;
}
.fline44 {
	width: 39px;
	transform: rotate(-90deg);
	top: 403px;
	left: 699px;
}
.fline45 {
	width: 161px;
	transform: rotate(0deg);
	top: 383px;
	left: 558px;
}
.fline40 {
	width: 43.5px;
	transform: rotate(-90deg);
	top: 509px;
	left: 1141px;
}
.fline41 {
	width: 52px;
	top: 531px;
	left: 1161.5px;
}
.fline1 {
	width: 127px;
	transform: rotate(-90deg);
	top: 418px;
	left: 262px;
}
.fline2 {
	width: 35px;
	transform: rotate(90deg);
	top: 426px;
	left: 266px;
}
.fline3 {
	width: 93px;
	transform: rotate(0deg);
	top: 381.5px;
	left: 398px;
}
.fline4 {
	width: 27px;
	transform: rotate(-90deg);
	top: 369px;
	left: 385px;
}
.fline5 {
	width: 170px;
	transform: rotate(-90deg);
	top: 440px;
	left: 285.8px;
}
.fline6 {
	width: 72px;
	top: 443px;
	left: 212px;
}
.fline7 {
	width: 80.00892639160156px;
	transform: rotate(-90deg);
	top: 380px;
	left: 1257.5px;
}
.fline8 {
	width: 29px;
	transform: rotate(-90deg);
	top: 567px;
	left: 376px;
}
.fline66 {
	width: 31px;
	transform: rotate(-90deg);
	top: 388px;
	left: 1377px;
}
.fline65 {
	width: 30px;
	transform: rotate(-90deg);
	top: 387px;
	left: 1361px;
}
.fline64 {
	width: 29px;
	transform: rotate(-90deg);
	top: 567px;
	left: 376px;
}
.fline64 {
	width: 177px;
	transform: rotate(-90deg);
	top: 492px;
	left: 1339px;
}
.fline62 {
	width: 18px;
	transform: rotate(-90deg);
	top: 404px;
	left: 257px;
}
.fline61 {
	width: 18px;
	transform: rotate(-90deg);
	top: 405px;
	left: 238px;
}
.fline60 {
	width: 18px;
	transform: rotate(-90deg);
	top: 405px;
	left: 201px;
}
.fline59 {
	width: 18px;
	transform: rotate(-90deg);
	top: 405px;
	left: 218px;
}
.fline58 {
	width: 14px;
	transform: rotate(-85deg);
	top: 413px;
	left: 283px;
}
.fline57 {
	width: 29px;
	transform: rotate(-90deg);
	top: 541px;
	left: 360px;
}
.fline56 {
	width: 29px;
	transform: rotate(-90deg);
	top: 539px;
	left: 343px;
}
.fline55 {
	width: 29px;
	transform: rotate(-90deg);
	top: 540px;
	left: 326px;
}
.fline54 {
	width: 29px;
	transform: rotate(-90deg);
	top: 341px;
	left: 457px;
}
.fline53 {
	width: 29px;
	transform: rotate(-90deg);
	top: 341px;
	left: 438px;
}
.fline52 {
	width: 29px;
	transform: rotate(-90deg);
	top: 340px;
	left: 421px;
}
.fline51 {
	width: 29px;
	transform: rotate(-90deg);
	top: 340px;
	left: 403px;
}
.fline67 {
	width: 29px;
	transform: rotate(-90deg);
	top: 342px;
	left: 786px;
}
.fline68 {
	width: 29px;
	transform: rotate(-90deg);
	top: 342px;
	left: 806px;
}
.fline69 {
	width: 29px;
	transform: rotate(-90deg);
	top: 342px;
	left: 829px;
}
.fline70 {
	width: 29px;
	transform: rotate(-90deg);
	top: 343px;
	left: 851px;
}
.fline71 {
	width: 30px;
	transform: rotate(-90deg);
	top: 452px;
	left: 948px;
}
.fline72 {
	width: 30px;
	transform: rotate(-90deg);
	top: 453px;
	left: 883px;
}
.fline73 {
	width: 30px;
	transform: rotate(-90deg);
	top: 453px;
	left: 929px;
}
.fline74 {
	width: 30px;
	transform: rotate(-90deg);
	top: 452px;
	left: 907px;
}
.fline75 {
	width: 29px;
	transform: rotate(-90deg);
	top: 329px;
	left: 1344px;
}
.fline76 {
	width: 29px;
	transform: rotate(-90deg);
	top: 329px;
	left: 1362px;
}
.fline77 {
	width: 29px;
	transform: rotate(-90deg);
	top: 329px;
	left: 1381px;
}
.fline78 {
	width: 29px;
	transform: rotate(-90deg);
	top: 329px;
	left: 1397px;
}
.fline79 {
	width: 29px;
	transform: rotate(0deg);
	top: 403px;
	left: 1312px;
}
.fline10 {
	width: 46px;
	transform: rotate(0deg);
	top: 355.5px;
	left: 325px;
}
.fline11 {
	width: 111.00450134277344px;
	transform: rotate(0deg);
	top: 331px;
	left: 588px;
}
.fline13 {
	width: 34px;
	transform: rotate(-90deg);
	top: 366px;
	left: 870px;
}
.fline14 {
	width: 39px;
	transform: rotate(-90deg);
	top: 349px;
	left: 1061px;
}
.fline15 {
	width: 190px;
	top: 368px;
	left: 1080px;
}
.fline17 {
	width: 54px;
	transform: rotate(90deg);
	top: 340px;
	left: 1242px;
}
.fline18 {
	width: 27px;
	transform: rotate(-90deg);
	top: 369px;
	left: 478px;
}
.fline20 {
	width: 52.5px;
	transform: rotate(-90deg);
	top: 394px;
	left: 966px;
}
.fline21 {
	width: 89px;
	top: 420px;
	left: 993px;
}
.fline22 {
	width: 142px;
	transform: rotate(0deg);
	top: 581px;
	left: 320px;
}
.fline24 {
	height: 1.0391852855682373px;
	width: 278.50164794921875px;
	left: 800.5px;
	top: 581px;
}
.fline25 {
	width: 31px;
	transform: rotate(90deg);
	top: 387px;
	left: 1393px;
}
.fline26 {
	width: 63.41421353816986px;
	transform: rotate(90deg);
	top: 372px;
	left: 1281px;
}
.fline27 {
	width: 351.0016784667969px;
	transform: rotate(0deg);
	top: 131px;
	left: 1077px;
}
.fline28 {
	width: 32px;
	transform: rotate(-90deg);
	top: 358px;
	left: 1412px;
}
.fline29 {
	width: 16.5px;
	left: 1297px;
	top: 341px;
}
.fline30 {
	width: 130px;
	top: 581px;
	left: 1298px;
}
.fline31 {
	width: 39px;
	transform: rotate(-90deg);
	top: 360px;
	left: 1322.5px;
}
.fline32 {
	width: 31px;
	transform: rotate(90deg);
	top: 387px;
	left: 1341.8px;
}
.fline33 {
	width: 109px;
	transform: rotate(90deg);
	top: 185px;
	left: 1373px;
}
.fline35 {
	width: 34px;
	transform: rotate(-90deg);
	top: 366px;
	left: 768px;
}
.fline36 {
	width: 104px;
	transform: rotate(0deg);
	top: 383px;
	left: 784px;
}
.fline37 {
	width: 71px;
	transform: rotate(0deg);
	top: 369px;
	left: 922px;
}
.fline38 {
	width: 70px;
	transform: rotate(-90deg);
	top: 403px;
	left: 887px;
}
.fline39 {
	width: 99px;
	transform: rotate(0deg);
	top: 468px;
	left: 806px;
}
